// Colors
$color-ls-black: #121c21;
$color-gray-dark: #41494d;
$color-gray-median: #5e6467;
$color-gray-light: #a0a4a6;
$color-gray-lighter: #e7e8e9;
$color-gray-lightest: #f8f8f9;
$color-off-white: #fcfcfc;
$color-white: #fff;
$color-green: #039c49;
$color-green-dark: #117d33;
$color-green-light: #b3e1c8;
$color-green-lighter: #cdebdb;
$color-green-lightest: #edf7f0;
$color-pink: #ffa0bf;
$color-yellow: #ffc50d;
$color-blue: #0078c8;
$color-blue-lighter: #e3eff7;
