/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fcfcfc;
  color: #2c3e50;
  overflow: hidden;
  width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.github {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Oswald;
  font-weight: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100; }
  .github img {
    height: 20px;
    margin-right: 5px;
    width: 20px; }

.page {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.cube {
  opacity: 0;
  position: relative;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  width: 40%; }
  .cube.transi-in {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: opacity 0.7s ease 0.2s, -webkit-transform 1.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    transition: opacity 0.7s ease 0.2s, -webkit-transform 1.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.7s ease 0.2s;
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.7s ease 0.2s, -webkit-transform 1.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s; }
  .cube__container {
    display: block;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    z-index: 3; }
  .cube__inner {
    height: 130%;
    left: -15%;
    position: absolute;
    top: -15%;
    width: 130%; }
  .cube__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Oswald;
    font-weight: 200;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .cube__text.is-displayed {
      opacity: 1;
      -webkit-transition: opacity .5s ease .5s;
      transition: opacity .5s ease .5s; }
  .cube__svgRenderer, .cube__cssRenderer {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%; }
  .cube__svgRenderer {
    background: none !important; }
  .cube__cssRenderer {
    z-index: 5; }


/*# sourceMappingURL=main.css.map*/